/JavaApplication4/build/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/SombrecargaYSombreescritura/nbproject/private/
/SombrecargaYSombreescritura/build/
/Encapsulamiento/nbproject/private/
/Encapsulamiento/build/
/clase abstracta/nbproject/private/
/clase abstracta/build/
/PokemonPOO/nbproject/private/
/PokemonPOO/build/
/PokemonPOO/dist/
/Pokemon/nbproject/private/
